/* Main
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.grid-item {
  background-color: #FFF;
  @include single-box-shadow(0, 0, 6px, 0px, #9b9b9b);
  div {
    padding: 1em;
  }
}



/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #1EAEDB;
  text-decoration: none;
  font-family: 'Amatic SC', Helvetica, Arial, sans-serif;//'Rokkitt', serif;
  font-weight: 700;
}
a:hover {
  color: #0FA0CE; }

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#header {
  height: 400px;
  background-color: #444;
  text-align: center;
}
#header>h1 {
  line-height: 400px;
}
